/* IMPORTING FONTS */
font-face {
    font-family: "Panthera";
    src: url("../fonts/Panthera.woff2") format("woff2"),
        url("../fonts/Panthera.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beyno";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BEYNO.woff") format("woff");
}

@font-face {
    font-family: "Wakanda4";
    src: url("../fonts/wakandaforever-regular-webfont.woff2") format("woff2"),
        url("../fonts/pantheraregular-mvz9j-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Canta";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Cantarell-Regular.woff") format("woff");
}

/* FOR GENERAL RULES */
body {
    margin: 0%;
    background: url(../Illustrations-Logo/All-pages/arrière_plan.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-family: "Beyno";
    letter-spacing: 0.6rem;
    color: #9e91b7;
    line-height: 1.5;
    text-align: justify;
}

h2 {
    font-family: "Beyno";
}

h3 {
    font-family: "Canta";
}

p {
    font-family: "Canta";
    font-size: 14px;
}

/* FOR PLACEHOLDER COLOR IN FORM */
::placeholder {
    color: #9e91b7;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9e91b7;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9e91b7;
}

/* HEADER SECTION */

/* NAV BAR */
nav {
    position: relative;
    top: 2rem;
    width: 80%;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav p {
    font-family: "Beyno";
}

.logos-nav {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logos-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

/* END NAV BAR */

/* START CONTAINER HEADER */

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container-dora-milaje {
    z-index: 1;
}

.image-dora-milaje {
    opacity: 50%;
    min-width: 2rem;
    max-width: 100%;
}

.container-right-header {
    position: relative;
    top: 3rem;
    left: -2rem;
    z-index: 2;
}

.container-defi {
    position: relative;
    display: flex;
    flex-direction: column;
}

.defi-title {
    position: relative;
    top: 5rem;
    width: 27rem;
}
.container-in-defi-text {
    position: relative;
}

#shape1 {
    position: relative;
}

.defi-text {
    position: relative;
    width: 90%;
    top: -15rem;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

.defi-text p {
    font-size: 0.7rem;
}

/* END CONTAINER HEADER */

/* END HEADER SECTION */

/* MAIN SECTION */

main {
    top: 3rem;
    padding-bottom: 5rem;
}

main h2 {
    font-family: "Wakanda4";
}

.container-all-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.title-main {
    position: relative;
    left: 5rem;
}

.title-main h2 {
    font-family: "Wakanda4";
    font-size: 1.8rem;
    color: #9e91b7;
    letter-spacing: 0.3rem;
}

.container-columns-main {
    position: relative;
    /* top: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.main-left {
    height: 35rem;
}

.container-in-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin-top: 5rem;
    height: 100%;
    text-align: center;
}

.container-in-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article1 h3 {
    font-size: 14px;
    height: 2rem;
}

.form h3 {
    font-size: 14px;
    text-align: left;
}

.the-input {
    margin-bottom: 3rem;
}

input[type="text"] {
    position: relative;
    width: 320px;
    height: 50px;
    border: 1px solid #9e91b7;
    border-radius: 30rem;
    background-color: transparent;
    padding-left: 2rem;
    top: 50%;
    color: #9e91b7;
}

/* #the-form {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

#submit {
    background-color: #f2cef2;
    color: #021740;
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 38rem;
    width: 174px;
    height: 54px;
}

#submit:hover {
    filter: drop-shadow(0px 0px 20px #021740);
}

.container-in-right {
    position: relative;
    width: 100%;
    text-align: center;
}

.title-main {
    width: fit-content;
}

.main-right {
    position: relative;
    width: 110%;
}

.tip {
    position: relative;
}

#shape2 {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tip-text {
    position: absolute;
    width: 28rem;
    top: 35%;
    left: 15%;

    text-align: center;
}

.tip-text p {
    font-size: 12px;
}

.tx {
    font-family: "Wakanda4";
}

/* FOOTER SECTION */

footer {
    background: url(../Illustrations-Logo/All-pages/back_footer.png);
    background-size: cover;
    color: #f2cef2;
}

.container-footer {
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.container-in-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .marvel-logo-circle {
    
} */

.circle {
    text-align: center;
}

.logo-cross {
    position: relative;
    text-align: center;
    top: -50%;
}

.footer-left {
    width: 8rem;
    /* display: flex;
    flex-direction: column; */
}

.footer-left a {
    text-decoration: none;
    color: #f2cef2;
}

.footer-social h3 {
    font-size: 22px;
    letter-spacing: 28%;
}

.footer-right {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.pages {
    font-size: 22px;
    letter-spacing: 0.1rem;
}

.navigation-footer {
    display: flex;
    flex-direction: column;
}

.container-all-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30rem;
}

/* .navigation-footer p {
    color: #f2cef2;
} */

.nav-and-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social h3 {
    display: inline-block;
    font-size: 22px;
    letter-spacing: 0.1rem;
}

.social-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-right {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-logo {
    display: flex;
    flex-direction: row;
}

.copyright p {
    font-size: 10px;
}
